{{ $baseurl := .Site.BaseURL }}

    <div id="footer">
      <div class="container-fluid">
        <p class="credit pull-right">&copy; ESV S&uuml;dstern Singen 1929 e.V. Basketball, 2020 - <a href="{{ $baseurl }}legal/{{ "impressum" | urlize }}">Impressum</a></p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.scrollto/1.4.14/jquery.scrollTo.min.js"
            integrity="sha256-jm7dkHn4jsldZhQsnTD1wHLjwuK+K75FFPyi5wJcrT4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
